.body-container {
    height: 100vh;  
    display: flex;  
    flex-direction: column;
    box-sizing: border-box;
  }
  
  .headerq {
    height: 5%;  
  }
  
  .bodyq {
    flex: 1;  
  }
  
 
 
  